<header class="navbar">
    <section class="navbar-section">
      <a href="index.html?menu=beranda">
        <svg xmlns="http://www.w3.org/2000/svg" width="79.568" height="38" viewBox="0 0 79.568 38">
          <g id="Group_1" data-name="Group 1" transform="translate(-4115.063 153)">
            <path id="Path_1" data-name="Path 1" d="M4246.063-541.707l25.946,24.27h29.351l24.271-24.27H4301.36v12.761h-29.351v-12.761Z" transform="translate(-131 392.202)" fill="#fff"/>
            <text id="KJ" transform="translate(4147.347 -139)" fill="#fff" font-size="13" font-family="Kanit-Bold, Kanit" font-weight="700"><tspan x="0" y="0">KJ</tspan></text>
            <text id="JADI_KULIAH" data-name="JADI KULIAH" transform="translate(4140.847 -117)" fill="#fff" font-size="5" font-family="Kanit-Regular, Kanit"><tspan x="0" y="0">JADI KULIAH</tspan></text>
          </g>
        </svg>
      </a>
    </section>
    <section class="navbar-center">
      
    </section>
    <section class="navbar-section text-accent navigation font-kanit">
      <a href="index.html?menu=beranda" id="beranda" class="btn btn-link">Beranda</a>
      <a href="mata-kuliah.html?menu=matkul" id="matkul" class="btn btn-link">Mata Kuliah</a>
      <a href="tentang.html?menu=tentang" id="tentang" class="btn btn-link">Tentang</a>
    </section>
</header>