<header class="navbar">
    <section class="navbar-section">
   
    </section>
    <section class="navbar-center">
      
    </section>
    <section class="navbar-section text-accent navigation font-kanit">
      <a href="index.html?menu=beranda" id="beranda" class="btn btn-link">Beranda</a>
      <a href="mata-kuliah.html?menu=matkul" id="matkul" class="btn btn-link">Mata Kuliah</a>
      <a href="tentang.html?menu=tentang" id="tentang" class="btn btn-link">Tentang</a>
    </section>
</header>